* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.header {
    background-color: #efefef;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h2 {
    font-size: 2rem;
    color: #333;
}